body
{
    background-color: rgba(5,21,47,255);
    overflow-x: hidden;
    /* border:red solid; */
}

.container{

    color: white;
    margin-left: 15VW;
    margin-right: 15VW;


    font-size: 12px;
    /* font-family:'Arial Narrow'; */
    font-family: 'Exo', sans-serif;
    /* border:solid; */

}

#header{

    /* display:grid;
    grid-template-columns: 10% 70% 30%; */
    display:flex;
    justify-content: space-between;
    min-width:fit-content;
    font-weight:bold;
    /* position: relative; */
    /* border: solid; */
}

ul li{
    list-style: none;
    padding: 10px 5px 10px 5px;
    height:8px;

}
select{
    background: none;
    background-color: none;
    border:none;
    color:white;
    font-weight:bold;
}

select option{
    background: rgba(5,21,47,255);
    margin:5px;
}
option:hover{
    background: #7ba435;

}

a{
    text-decoration: none;
    color: white;
}

#left-header
{
    padding-top: 10px;
    /* border: solid green; */
    font-size: 23px;

}

#center-header
{

    /* border: solid red; */
    /* display: grid;
    gap: 10px;
    grid-template-columns: repeat(5,1fr); */
    padding-left: 50px;
    padding-right: 50px;

    display: flex;

}

#right-header
{
    /* border: solid yellow; */
    /* display: grid;
    grid-template-columns: 1fr 3fr; */
    display: flex;
    width: 200px;
    /*grid-auto-columns: minmax(30px,auto);*/
    padding-left: 0px;
    padding-right: 0px;
}

#right-header .button
{
    height: 15px;
    width: fit-content;
    /* border: solid; */

}

.button
{
    background-color: rgb(127, 161, 67);
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    width: fit-content;
    /* To make it center */

}

.button:hover
{
    background-color: rgb(145, 194, 60);

}

footer
{
    /* display:grid;
    grid-template-columns: repeat(4, 1fr); */

    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    font-size: 12px;
    font-weight: lighter;
    line-height: 1.5;
}

.footer{
    /* border: solid; */
    width: 170px;
}
footer div
{
    /* border: solid; */
    padding:5px;
}


.footer p
{
    padding: 0px;
    margin: 0px;
    line-height: 2;
}

.footer p1
{
    color: rgb(145, 194, 60);
}

#icons
{
display: flex;
}

.icon
{
    height:15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgba(31,49,69,255);
    margin:3px;

    /* To make it center horizontally and  vertically*/
    display: flex;
    justify-content: center;
    align-items: center;

}

.icon:hover
{
    background-color: rgba(172, 170, 170, 0.655);
}

#winners
{
    display:grid;
    grid-template-columns: repeat(3,auto);
}

.winner
{
    border:1.5px solid rgb(38, 55, 85);
    margin:5px;
    border-radius: 5px;
    height:40px;
    width:40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* _______________________________Home page________________________________ */

#home
{
    /* border: white; */
    display: grid;
    grid-template-columns: 3fr 1fr;

}


#home #content
{
    padding-top: 100px;
}

#home #image
{
    padding-top: 30px;
}

#home #content h1{
    font-size:50px;
    font-weight:bolder;
}
#home #content p1
{
    color:rgb(145, 194, 60);
    font-weight: bold;
}
#home #content p2
{
    font-size:15px;
    font-weight:lighter;

}

#block1
{
    background-image: url("/images/24.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom:100px;

}
#block2 , #block6, #block4
{
    background-color: rgba(0,15,46,255);
    background-attachment: fixed;
    padding-bottom:50px;
    padding-top: 50px;
    /* border: solid white; */
}

#plays
{
    /* border: solid; */
    display: flex;
    padding-top: 20px;

}
#play .button , #live-streaming #content .button{
    font-size: 15px;
    font-weight:bold;
    padding: 15px 30px;
    /* border: white solid; */
    width: fit-content;
}

#play
{
    margin-top: 25px;
}

.play-button
{

    padding-left: 20px;
}


/* ____________________________Live Streaming___________________________________ */

#live-streaming
{
    display:flex;
    /* flex-wrap: wrap; */
    /* border: solid red; */
    /* justify-content: space-between; */
    justify-content: center;

}

#live-streaming #vedio .play
{
    text-align: center;
    padding-top: 100px;
}

#live-streaming #vedio .play i
{


    color:white;
    background-color: green;
    height: 60px;
    width: 60px;
    border-radius: 50%;

}

#live-streaming #vedio .play i:hover
{

    color:rgba(255, 255, 255, 0.769);
}

#vedio
{

    height: 300px;
    min-width:450px;

    border-radius: 30px;
    background-image: url(/images/4.png);
    /* border: solid; */

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#vedio #live-tag
{
    font-size:20px;
    font-weight:bold;
}

#live-tag
{
    position: relative;

    /* border: red solid; */
    top: 100px;
}

#pointer {
    width: 250px;
    height: 40px;
    position: relative;
    background: white;
    color: #7ba435;
    bottom:41.5px;
    left:150px;
    border-radius: 1px;
    border-color: white;
    border: none;

    top: 1px;
    left: 90px;
}

#pointer>p{
    padding-top: 10px;
}

#pointer:after {
content: "";
position: absolute;
left: -20px;
bottom: 0;
width: 0;
height: 0;
border-right: 20px solid white;
border-top: 20px solid transparent;
border-bottom: 20px solid transparent;
border-radius: 1px;

}

#pointer::before {
content: "";
position: absolute;
right: -20px;
bottom: 0;
width: 0;
height: 0;
border-left: 20px solid white;
border-top: 20px solid transparent;
border-bottom: 20px solid transparent;
border-radius: 1px;
}

#live-streaming #content
{
    padding-left: 80px;
    padding-top: 20px;
    /* border: solid black; */
}

#live-streaming .button{
    width: fit-content;
}

#live-streaming-tag
{

    background-color: aliceblue;
    color:green;
    height:50px;

    /* width: fit-content; */
    display: flex;
    /* border:solid white; */

    position: relative;
    top: 130px;
    left: 100px;

}

#live-streaming-tag #content
{
    text-align: center;
    align-items: center;
    /* border:solid black; */
    font-size: 20px;
    font-weight:bold;
    height:30px;
}

#live-streaming #content p1
{
    color:rgb(145, 194, 60);
}
#live-streaming #content p2
{
    font-size: 13px;
}
#live-streaming #content h1{
    font-size: 30px;
}
#live-streaming #content a
{
    padding-top:100px;
    /* border: rgb(203, 194, 194) solid; */
}


/* ____________________upcomming Matches__________ */

#upcomming-Match
{
    width: fit-content;
    margin:0 auto;
    /* border: #7ba435 solid; */
}

#upcomming-Match #heading h1,#upcomming-Match #heading p
{
    text-align: center;

    /* margin-left: 150px; */
    margin: 0 auto;
}

#upcomming-Match #heading
{
    margin:0 auto;
    /* border: solid; */
}

#upcomming-Match #heading h1
{
    font-size: 35px;
}

.match-card .live-button p
{
    font-size: 10px;
    color: rgb(145, 194, 60);
}
.match-card .match-data p1
{
    font-size: 10px;
    color: grey;
}
.match-card .match-data h2
{
    font-size: 15px;
}
.match-card .match-data p2
{
    font-size: 10px;
    color: rgb(145, 194, 60);
}

#match-cards
{
    /* display: grid;
    grid-template-columns: repeat(3,1fr); */

    display: flex;
    flex-wrap: wrap;


    /* border:solid; */
}

.teams div{
    padding: 15px 0px 0px 20px;
    height:90px;
}

.match-card
{
    border:1.5px solid rgb(38, 55, 85);
    border-radius: 10px;
    height: 250px;
    width: 240px;
    margin: 0px 15px 20px 0px;

}

.match-card:hover
{
    border:1.5px solid rgb(145, 194, 60);
}

.teams
{
    border-bottom:1.5px solid rgb(38, 55, 85);
    display:flex;

}

.match-data
{
    padding: 10px 0px 0px 25px;
}

.live-button
{
    display: flex;
    border:1.5px solid rgb(38, 55, 85);
    border-radius: 10px;
    height: 30px;
    width: 120px;
    margin-left: 50px;
    margin-top: 0px;

    position: relative;
    bottom: 15px;
    left:15px;
    background-color: rgba(5,21,47,255);
}



.live-button div
{
    /* border: solid; */
    padding-left: 10px;
    padding-top:5px;

}

.live-button div p
{
    padding-top:3px ;
    margin-top:0px;
}

#upcomming-Match .button
{
    width:100px;
    margin:0 auto;
}

#scores
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* align-items: center; */
    border:1.5px solid rgb(38, 55, 85);
    border-radius: 10px;
    padding: 20px;
    /* border: solid; */
}

.score
{
    padding: 0px;
    margin: 0px;
    /* border: saddlebrown solid; */
    padding-left:30px;
    /* To make it center */

    justify-content: center;
    /* align-items: center; */
}

.number
{
    font-size: 50px;
    font-weight: bold;
    margin:0px;
}

.tag
{
    background-color: rgb(145, 194, 60);;
    border-radius: 50px;
    padding: 0px 10px 0px 10px;
    height:20px;
    margin: 0 auto;
    font-size: 8px;
    font-weight: bold;
    width:fit-content;

    /* To make it center */
    display: flex;
    justify-content: center;
    align-items: center;
}

#newsletter
{
    /* border: solid; */
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    width: fit-content;
    justify-content: center;
    background-color: rgb(145, 194, 60);
    border-radius: 10px;
    padding: 10px 30px ;
    margin: 0 auto;
}

#newsletter #content
{
    /* border: red solid; */
    width: 300px;
}

#newsletter #content p1
{
    font-size: 15px;
    font-weight: bold;
}


#subscribe
{
    margin:auto auto;

}
#email
{
    display: grid;
    grid-template-columns: 2fr 1fr;

    /* border: solid ; */

    border-radius: 10px;
    background-color: white;
    height:35px;
    justify-content: center;
    align-items: center;

}
input:focus{
    outline: none;
}
input{
    border:none;

}

#email .button{
    height: 10px;
    width:90px;
    margin-right: 5px;

    background-color: rgb(12, 2, 60);
    /* To make it center horizontally and  vertically*/
    display: flex;
    gap:5px;
    justify-content: center;
    align-items: center;

}
#email .button:hover
{
    background-color: rgba(226, 8, 44, 0.788);

}

@media screen and (max-width: 1045px)
{
    /* #home #image
    {
        padding-top:50px;
    }
    #home #image img
    {
        height:45vw;

    } */
    #home{
    transform: scale(0.8);
    }
}


@media screen and (max-width: 900px) {

    body
    {
        width:fit-content;
    }
    .container{

        /* border:greenyellow solid; */
        /* transform: scale(0.8); */
        margin: 0 auto;
        width:fit-content;
        padding:20px;

    }

    #home
    {
        display: flex;
        flex-wrap: wrap-reverse;
        transform: scale(0.9);
    }

    #live-streaming
    {
        flex-wrap: wrap;
    }

    #live-streaming #content, #live-streaming #vedio
    {
        margin:0 auto;
        padding:0px;
    }
    #live-streaming #vedio
    {
        height: 200px;
        min-width:350px;
        border-radius: 30px;

        margin-bottom:80px;
    }

    #live-tag
    {
        /* border: solid; */
        top:5px;
        right:40px;

    }

    #home #image
    {
        margin:0 auto;
        height:400px;
    }

    #header
    {
       
        /* border:solid; */
        
        width:100%;
        margin:0px;
        
    }
    #leftt-header
    {
        left: 0px;
    }

    #right-header
    {
        /* margin: 10px auto; */
        /* border:solid; */
        margin:0px 20px;
        right:0px;

    }

    .topnav
    {
        /* border: solid; */
    }

    #match-cards
    {
        justify-content: center;
    }

    #email .button
    {
        width:70px;
    }


}

/* #phone-resolution-nav i
{
    color:#7ba435;
    position:absolute;
    top:25px;

    right:20px;
    display:None;

}
.topnav .icon {
    display: none;
  } */

  .topnav {
    overflow: hidden;
    margin-top:15px;
  }

  .topnav a,.topnav select {
    float: left;
    display: flex;

    /* color: #f2f2f2; */
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
   
    /* border:solid;
    border-radius: 10px; */
   
    align-items: center;
    justify-content: center;
    height:20px;


  }

  

  .topnav .nav-icon {
   
    display: none;
  }

  @media screen and (max-width: 900px) {
    .topnav a ,.topnav select{display: none;}
    .topnav a.nav-icon {
      float: right;
      position: absolute;
      left:90%;
      top:30px;
      display: block;
      
    }
  }

  @media screen and (max-width: 900px) {
    .topnav.responsive {
        position: absolute;
        right:0px;
        top:0px;

        background-color: #7ba435;
        /* height:50%;
        width:20%; */
       
    }
    #nav{
        padding-top:50px;

    }
    .topnav.responsive .nav-icon {
      position: absolute;

      left: 50%;
      top: 0;
    }
    .topnav.responsive a,.topnav.responsive select {
      float: none;
      padding-left: 20px;
      display: block;
      text-align: left;
      margin-top: 15px;

      
    }

    .topnav.responsive a:hover
    {
        background-color: rgb(145, 194, 60);
    }
    .topnav.responsive .button
    {
        width: 100%;
        /* border: solid black;
       
     */
    }

  }